/*
    Colores en variables
*/
$azul : #33c4f0;
$blanco : #ffffff;
$gris: #f2f2f2;
$secundario: #741d51;
$terciario: #e44352;

/* Variables para los tamanios de media queries*/
$telefono: 480px;
$tablet: 758px;
$desktop: 1024px;